#table_container {
   width: 100%;
   height: fit-content;
   padding: 35px;
}

#table_container h3 {
   width: 100%;
   border: 2px solid black;
   font-weight: 700;
   font-size: 2rem;
   margin-bottom: 15px;
   text-align: center;
   color: rgb(92, 92, 97);
}

#table_container .customers {
   border-collapse: collapse;
   width: 100%;
}

#table_container .customers td,
#table_container .customers th {
   border: 1px solid #ddd;
   padding: 8px;
}

#table_container .customers tr:hover {
   background-color: #ddd;
}

#table_container .customers th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: rgb(92, 92, 97);
   color: white;
}

.status {
   display: flex;
   align-items: center;
}

td.action span {
   margin-left: 15px;
}